
.twitter-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10px;

}

.twitter-wrapper__header {
  display: flex;
  flex-direction: row;
  background: -webkit-linear-gradient( #d5d3ff, #e6c5ff, #f7acf3);
  color: white;
  text-shadow: 1px 1px 6px #00000054;
  border-radius: 10px 10px 0 0;
  height: 180px;
  align-items: center;
}

.header__profile-pic > img {
  max-width: 100px;
}

.twitter-wrapper__tweets {
  color: white;
  background: -webkit-linear-gradient( #5b5977, #53455e, #573c55);
  text-shadow: 1px 1px 5px #00000082;
}

.tweets__tweet {
  display: flex;
  flex-direction: row; 
  padding: 10px;
  box-shadow: inset 1px 1px 5px 1px #3e3e3e;
  align-items: center;
}

.tweets__tweet:nth-child(2) {
  border-top: 1px solid rgb(26, 26, 26);
  border-bottom: 1px solid rgb(26, 26, 26);
}


.tweet_picture > img {
  border-radius: 50%;
  max-width: 100px;
}

.tweet_info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: start;
  justify-content: center;
}

.info-wraper__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.bio-wrapper__name {
  font-size: 30px;
}

.bio-wrapper__name > span {
  font-size: 15px;
  font-weight: 300;
}

.top__name {
  font-size: 15px;
  margin: 5px;
}

.top__retweet {
  font-size: 12px;
  margin: 5px;

}

.top__username {
  font-size: 9px;
  margin: 5px;

}

.top__date {
  font-size: 10px;
  margin: 5px;

}

.info-wraper__bottom {
  display: flex;
  flex-direction: column;
}

.bottom__description {
  font-size: 15px;
  margin: 5px;
  height: 50px;
}

.bottom__actions {
  display: flex;
  margin: 5px;
}

#bottom-id {
  display: flex;
  font-size: 15px;
  margin: 5px;
}

.actions__likes {
  margin: 0 20px 0 0
}

.actions__comments {
  margin: 0 20px 0 0
}

.actions__retweets {
  margin: 0 20px 0 0
}

